*{
    padding: 0;
    margin: 0;
}


body{
    color:rgb(211, 226, 213);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background : url(https://th.bing.com/th/id/OIP.UlaWj-vrmrz1zNsSi_KEmAHaEo?pid=ImgDet&w=60&h=60&c=7&rs=1);
    background-repeat: no-repeat;
    background-size: cover;
}
.loginpage{
    border: 2px solid black;
    width: 300px;
    height: 300px;
   backdrop-filter: blur(30px);
   

}
.input{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 70px;

}
input{
    padding: 10px;
}
button{
    font-size: 25px;
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
}
.div{
    font-size: 30px;
}
footer{
    display: flex;
}
.footer-input{
    display: flex;
    justify-content: space-around;
    text-size-adjust: 25px;
}
.Signup-Container{
    border: 10 solid red;
}
span{
     
    margin-top: 200px;
}

.First-input{
    margin-right: 200px;
}